{% extends 'polls/template.html' %}

{% block title %}About{% endblock %}
{% block content %}
<div class="features">
    <h1 class="about_title">About KLO</h1>
    <div class="info_about">
        <img class="image_about" src="/static/polls/img/2221.jpg" alt="About_KLO">
        <div class="info_about_p">
            <div class="about_p_p"><p class="about_p"><i class="fas fa-mobile"></i> Phone:<br> +48884343292</p></div>
            <div class="about_p_p"><p class="about_p"><i class="fas fa-envelope"></i> Email:<br>
                vlad.bajsha1337@gmail.com</p></div>
            <div class="about_p_p"><p class="about_p"><i class="fab fa-telegram-plane"></i> Telegram:<br>
                @VladyslavBaisha</p></div>
        </div>
        <p class="text_about">KLO — is a young platform founded in 2021, KLO has all the necessary functions for buying and selling, the service is distinguished by special protection of purchases, in case of any problems with the purchase, you can report this to our technical support and we will solve your problem.</p>
    </div>
    <p class="cop">Copyright © 2021 KLO. All rights reserved</p>
    <p class="made">Made with love in Wroclaw.</p>
</div>
{% endblock %}