{% extends 'polls/template.html' %}

{% block title %}{{ detail_ad.name }}, {{ detail_ad.model }}, {{ detail_ad.color }}{% endblock %}
{% block content %}
<div class="features">
    <h1>{{ detail_ad.name }} {{ detail_ad.model }} {{ detail_ad.color }}</h1>
    <p>Date of last edit: {{ detail_ad.date }}</p>
    <p class="detail">Name: {{ detail_ad.name }}<br>
        Model: {{ detail_ad.model }}<br>
        Color: {{ detail_ad.color }}<br>
        Place: {{ detail_ad.place }}<br>
        Condition: {{ detail_ad.condition }}<br>
        Price: {{ detail_ad.price }}$</p>
    <p class="detail_description">{{ detail_ad.description }}</p>
    <a href="{% url 'ad-delete' detail_ad.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'ad-update' detail_ad.id %}" class="btn btn-light">Edit</a>
</div>
{% endblock %}