{% extends 'polls/template.html' %}

{% block title %}KLO{% endblock %}
{% block content %}
<div class="features">
    <h1>KLO</h1>
    <p class="home_title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at dolorem laborum
        nam sit temporibus voluptatibus. Ad animi, aut consequuntur dolores eligendi eveniet expedita iusto
        necessitatibus nostrum quia repudiandae, vero.</p>
    <a href="offers">
        <button class="btn btn-light">Go to offers</button>
    </a>
</div>
{% endblock %}
