{% extends 'polls/template.html' %}

{% block title %}Offers{% endblock %}
{% block content %}
<div class="features">
    <h1>Offers</h1>
    {% if ad %}
    {% for i in ad %}
    <div class="alert alert-dark">
        <div class="image_offer">
        <a href="{% url 'ad-detail' i.id %}"><img src="{{ MEDIA_ROOT }}/{{ i.photo }}" alt="Photo"></a>
        </div>
        <a href="{% url 'ad-detail' i.id %}"><h3>{{ i.name }} {{ i.model }}<br> {{ i.color }}</h3></a>
        <p>Date: {{ i.date }}<br> Place: {{ i.place }}<br> Condition: {{ i.condition }}<br></p>
        <p class="price_offer">{{ i.price }}$</p>
    </div>
    {% endfor %}
    {% else %}
    <p class="nothing_massage">Unfortunately, there are no new proposals, but after a while, they will certainly appear :)</p>
    {% endif %}
</div>
{% endblock %}