{% extends 'polls/template.html' %}

{% block title %}Offers{% endblock %}
{% block content %}
<div class="features">
    <h1>Offers</h1>
    {% if ad %}
    {% for i in ad %}
    <div class="alert alert-dark">
        <h3>{{ i.name }} {{ i.model }} {{ i.color }}</h3>
        <p>Date: {{ i.date }}</p>
        <p>Place: {{ i.place }}<br> Condition: {{ i.condition }}<br> Price: {{ i.price }}$</p>
        <a href="{% url 'ad-detail' i.id %}" class="btn btn-light">Go Offer</a>
    </div>
    {% endfor %}
    {% else %}
    <p>Unfortunately, there are no new proposals, but after a while, they will certainly appear :)</p>
    {% endif %}
</div>
{% endblock %}